body {
  background-color: antiquewhite;
}

.container {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: space-around;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  background: #421b7e;
  color: aliceblue;
}